# Classification exercises

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [41]:
import pandas as pd
from pydataset import data

In [2]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> pydataset
Help on package pydataset:

NAME
    pydataset

DESCRIPTION
    # __init__.py
    # main interface to pydataset module

PACKAGE CONTENTS
    datasets_handler
    dump_data
    locate_datasets
    support
    utils (package)

FUNCTIONS
    data(item=None, show_doc=False)
        loads a datasaet (from in-modules datasets) in a dataframe data structure.

        Args:
            item (str)      : name of the dataset to load.
            show_doc (bool) : to show the dataset's documentation.

        Examples:

        >>> iris = data('iris')


        >>> data('titanic', show_doc=True)
            : returns the dataset's documentation.

        >>> data()
            : like help(), returns a dataframe [Item, Title]
            for a list of the available datasets.

FILE
    /opt/homebrew/anaconda3/lib/python3.9/site-packages/pydataset/__init__.py



You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.
help> pydataset

In [42]:
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

### Print the first 3 rows

In [43]:
df_iris = data('iris')
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### Print the number of rows and columns (shape)

In [11]:
df_iris.shape

(150, 5)

### Print the column names

In [16]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### Print the data type of each column

In [17]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

### Print the summary statistics for each of the numeric variables

In [20]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.
Make sure that the spreadsheet is publicly visible under your sharing settings.

- assign the first 100 rows to a new dataframe, df_google_sheets_sample
- print the number of rows of your original dataframe
- print the first 5 column names
- print the column names that have a data type of object
- compute the range for each of the numeric variables.

In [57]:
url = 'https://docs.google.com/spreadsheets/d/1es3NXKr7ydWaBPfAlzupnyKlMqiOygbXG8yDy3RDLpE/edit#gid=1023018493'
df_google_sheets = pd.read_excel(url)
df_google_sheets.head()

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/1qyreW29fvdvr8IIh23p0LyV2eL-kPs2v8tJf5-03k1s/export?format=csv#gid=1023018493'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [ ]:
print('Shape: %d rows x %d cols' % df_google_sheets.shape)
print('object type columns:', list(df_google_sheets.select_dtypes('object')))
df_google_sheets.select_dtypes('number').apply(lambda col: col.max() - col.min()).rename('range')

In [27]:
import os
for f in os.listdir("/Users/arsen/codeup-data-science/classification_exercises"):
    print(f)

env.py
classification_exercises.ipynb
Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises - Copy of Table1_CustDetails.csv
.gitignore
.ipynb_checkpoints
.git

In [28]:
# df_google_sheets = pd.read_csv('Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises - Copy of Table1_CustDetails.csv')
# df_google_sheets.b

In [32]:
df_excel = pd.read_excel('Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises.xlsx',
                         sheet_name = 'Table1_CustDetails')

In [35]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [37]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [38]:
df_excel.shape[0]

7049

In [39]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [ ]:
# from env import get_db_url

# def get_data():
#     file name = 'Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises'
#     if os.path.isfile('Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises'):
#         return pd.read_csv('Copy of Arsene BOUNDAONE - jemison_spreadsheet_exercises')
#     else:
#         url = get_db_url('filename')
#         query = 'select * from tablename'
#         df = pd.read_sql(query, url)
#         df.to_csv(filename)
#         return df

In [ ]:
# https://docs.google.com/spreadsheets/d/1es3NXKr7ydWaBPfAlzupnyKlMqiOygbXG8yDy3RDLpE/edit#gid=1023018493